 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Adaptable software developer, imaginative researcher, enthusiastic teacher and team-member looking for a technically challenging position that offers the ability for creative problem solving.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am looking for a position as either a software developer (Best Languages: Java, Python, C, C++, C#) or researcher (Focus: Human Computer Interaction, Visualization, Personal Informatics, and Tinkering)</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
