 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an adaptable software developer, imaginative researcher, and an enthusiastic teacher, having won awards for all three in the past year. I aspire to take extraordinary ideas and bring them into reality, with my experience as a human-computer interaction (HCI) researcher and professional software developer. I love jumping into the unknown and applying both my technical skills and my creative ideas to give form to future technology.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently interested in opportunities in the Toronto area. With a preference for technically challenging positions that offer the ability for creative problem-solving. More specifically, for either software development positions (proficient in Java, Python, C, C++, C#) or research positions (focused on HCI, Visualization, and Personal Informatics).</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://kawannam.github.io/website/Wannamaker_Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
